@model FindADoctor.Models.MedicalCenter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="col-md-12">
    <h4>MedicalCenter</h4>
    <hr />
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Suburb)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Suburb)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Latitute)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Latitute)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Longitude)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Longitude)
            </dd>
        </dl>
            
        <table class="table table-striped table-bordered">
            <tr>
                <th colspan="4">Current Available Doctor(s)</th>
            </tr>
            <tr>
                <th>Full Name</th>
                <th>Specialty</th>
                <th>Degree</th>
                <th></th>
            </tr>
            @foreach (var item in Model.DoctorAssignments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.FirstName) @Html.DisplayFor(modelItem => item.Doctor.LastName) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.Specialty.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.Degree.Abbreviation)
                    </td>
                    <td>
                        @Html.ActionLink("Unlink", "UnlinkDoctor", new { @medicalId = Html.DisplayFor(model => model.Id), @doctorId = item.DoctorId })
                    </td>
                </tr>
            }
        </table>

        <table class="table table-striped table-bordered">
            <tr>
                <th colspan="4">Other Doctor(s) Ready To Hire</th>
            </tr>
            <tr>
                <th>Full Name</th>
                <th>Specialty</th>
                <th>Degree</th>
                <th></th>
            </tr>
            @foreach (var item in ViewBag.OtherDoctors)
            {
                <tr>
                    <td>
                        @item.FirstName @item.LastName
                    </td>
                    <td>
                        @item.Specialty.Type
                    </td>
                    <td>
                        @item.Degree.Abbreviation
                    </td>
                    <td>
                        @Html.ActionLink("Link", "LinkDoctor", new { @medicalId = Html.DisplayFor(model => model.Id), @doctorId = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">
        <div id="map"></div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    <script>
        function initMap() {
            var medical_center = { lat: @Html.DisplayFor(model => model.Latitute) , lng: @Html.DisplayFor(model => model.Longitude) };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: medical_center
            });
            var marker = new google.maps.Marker({
                position: medical_center,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZTMXb1sxVBNFFXmDuYclVgjdeXeygI00&callback=initMap">
    </script>
}